// @import url(http://fonts.googleapis.com/css?family=Open+Sans);
//
// body{
// 	font-family: 'Open Sans', sans-serif;
// }
//
// div.banner-img{
// top: 0;
//   /* position: fixed; */
//   height: 75vh;
//   width: 100%;
//   margin-top: -1em;
//   background-image: url("http://www.cmd-amsterdam.nl/wp-content/uploads/2014/09/intro-cmd-site1.jpg");
// -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
//   background-position: center;
// }
//
// .intro{
//   text-align: center;
//   position: relative;
//   top: 40vh;
// 	color: white;
//
// }
//
// .intro h1{
//   font-size: 4em;
// 	margin-bottom: 1em;
// }
//
// .button{
// 	display: inline-block;
// 	font-size: 2.5em;
// }

// 
// .header{
//   background-color: yellow;
// }
