<template name="post_profile">
 <br>
  <div class="post-body">
       <a class="post-author" href="{{profileUrl userId}}">{{displayName userId}}</a>
        <a href="{{profileUrl this}}" class="avatar-link avatar-big">
          {{> avatar userId=this shape="circle"}}
        </a>
        <ul>
         	<li><i class="fa fa-facebook"></i></li>
	<li><i class="fa fa-linkedin"></i></li>
	<li><i class="fa fa-google-plus"></i></li>
	<li><i class="fa fa-envelope-o"></i> {{email}}</li>
	<li><i class="fa fa-mobile"></i></li>
	  </ul>
	  </div>
	
</template>
