<template name="post_body">
  <div class="post-body markdown" aria-live="polite">
<!--     {{> avatar (user=<user> || userId=<userId>)
           (size="large" || "small" || "extra-small")
           (shape="rounded" || "circle")
           (class="some custom classes")
           (initials="<initials>") (bgColor="<color>") (txtColor="<color>") }}
 -->
    <h4>Klus:</h4>
    <h2>{{title}}</h2>    <span class="post-time">{{timeAgo postedAt}}</span>

    <div class="datums">
     <span class="startdatum"><i class="fa fa-clock-o"></i> Start datum: {{formatDate start "DD.MM.YYYY"}}</span>
      <span class="einddatum"><i class="fa fa-clock-o"></i> Eind datum: {{formatDate end "DD.MM.YYYY"}}</span>
      </div>

    {{{htmlBody}}}

  </div>


</template>
