<template name="postContent">
    {{#each postThumbnail}}
      {{> UI.dynamic template=getTemplate data=..}}
    {{/each}}
        <a href="{{profileUrl userId}}" class="avatar-link avatar-small author-avatar">
      {{> avatar userId=userId}}
    </a>
    <div class="post-info">
      <h3 class="post-heading">
        {{#each postHeading}}
          {{> UI.dynamic template=getTemplate data=..}}
        {{/each}}
      </h3>
      <div class="post-meta">
        {{#each postMeta}}
          {{> UI.dynamic template=getTemplate data=..}}
        {{/each}}
      </div>
    </div>
</template>