<template name="postAvatars">
  <div aria-hidden="true" aria-live="off">   
     <a href="{{profileUrl userId}}" class="avatar-link avatar-small author-avatar">
      {{> avatar userId=userId shape="circle"}}
    </a> 
    {{#if commenters}}
      <div class="post-commenters">
      {{#each commenters}}
        <a href="{{profileUrl this}}" class="avatar-link avatar-small commenter-avatar">
          {{> avatar userId=this shape="circle"}}
        </a>
      {{/each}}
      </div>
    {{/if}}
  </div>
  <div class="datums">
   <span class="startdatum"><i class="fa fa-clock-o"></i> Start datum: {{formatDate start "DD.MM.YYYY"}}</span>
    <span class="einddatum"><i class="fa fa-clock-o"></i> Eind datum: {{formatDate end "DD.MM.YYYY"}}</span>
    </div>
</template>